# Dependencies
node_modules/
**/node_modules/

# Production Build outputs
dist/
**/dist/
build/
**/build/

# Local databases & user data
# (This ensures your local testing records do not overwrite production data on Render)
backend/data/students.json
**/data/students.json
*.db
*.sqlite

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor Directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
